html,
body {
  padding: 10px;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media print {
  html, body, #__next, #resume {
    padding: 0;
    margin: 0;
    border: none;
    height: 11.75in;
    width: 8.25in;
  }
}